@import "./variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import "./base.scss";
@import "../component/commont/quickview.scss";
@import "../style/ant.scss";
.slider__content1 {
  margin: 8rem 0;
  display: flex !important;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
.slider__content1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--h1 {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.1;
    color: $headingColor;
  }
  &--p {
    font-size: 1.5rem;
    color: $textColor;
  }
  &--btn {
    border-color: $primaryColor;
    color: $primaryColor;
  }
  &--img {
    width: 100%;
    height: 100%;
  }
}
#slider__content1-text--btn {
  border-color: $primaryColor;
  color: $primaryColor;
  font-weight: 700;
  max-width: 15rem;
  &:hover {
    background-color: $primaryColor;
    color: $white;
  }
}
// Shipping Detail
// Shipping Detail
// Shipping Detail
// Shipping Detail
.shipping {
  display: flex !important;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: #62d2a2;
  padding: 2rem 0;
  border-radius: 1rem;
  transform: translateY(-50%);
  &__detail {
    display: flex;
    border-right: 0.1rem solid#a5e5ca;
    justify-content: center;
    &-plant {
      color: #a5e5ca;
      font-size: 4.4rem;
      margin-right: 3rem;
      &--icon:hover {
        animation: rotate 1s linear;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--h3 {
        color: $white;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 700;
      }
      &--p {
        color: $white;
        font-size: 1.4rem;
        margin: 0;
      }
    }
  }
}
// categories
// categories
// categories
// categories
.categories {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: #f3f6f5;
  margin-top: 5rem;
  &-item {
    display: flex;
    text-align: center;
  }
}
.categories-item-col {
  cursor: pointer;
  border-radius: 2rem;
  min-height: 35rem;
  border: 0.1rem $white solid;
  &--h2 {
    font-family: "Berkshire Swash", cursive;
    font-weight: 700;
    font-size: 3.5rem;
    color: $white;
    padding-bottom: 8rem;
    padding-top: 2rem;
    transition: 0.5s linear;
    &:hover {
      color: $black;
    }
  }
  &--img {
    width: 100%;
    padding-bottom: 3rem;
  }
}
.green {
  background-color: #c3ead5;
}
.orange {
  background-color: #f3cd97;
}
.blue {
  background-color: #95e0d2;
}
.red {
  background-color: #fa8383;
}
.categories__heading {
  text-align: center;
  position: relative;
  &-h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 3.6rem;
    font-weight: 700;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 0.2rem;
      background: #62d2a2;
      bottom: 0;
      right: 47%;
      margin: -0.8rem;
    }
  }
}
.categories-item-boder {
  max-height: 35rem;
  margin: 1rem;
  &:hover {
    border: 0.2rem solid $white;
    border-radius: 2rem;
  }
}
// Home best sell
// Home best sell
// Home best sell
.sell {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding-left: 2.5rem;
  &__heading {
    margin-bottom: 3rem;
    &-h1 {
      font-family: "Berkshire Swash", cursive;
      font-size: 3rem;
      font-weight: 700;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 0.2rem;
        background: #62d2a2;
        bottom: 0;
        left: 15%;
        margin: -0.8rem;
      }
    }
  }
}
.sell__content {
  display: flex;
  margin-bottom: 1.6rem;
}
.sell__img {
  max-width: 15rem;
  border: 0.1rem solid $borderColor;
  cursor: pointer;
  position: relative;
  transition: 1s ease;
  margin-right: 1.5rem;
  &:hover {
    opacity: 0.6;
    border: 0.1rem solid $primaryColor;
  }
  &:hover > .sell__img-eye {
    display: block;
  }
}
.sell__img-eye {
  display: none;
  border: 0.1rem solid $primaryColor;
  right: 34%;
  position: absolute;
  top: 35%;
  background: white;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  color: $primaryColor;
  transition: 0.5s linear;
  &--icon {
    padding-top: 0.2rem;
    font-size: 2rem;
  }
  &:hover {
    background: $primaryColor;
    color: $white;
  }
}
.sell__list {
  &-btn {
    border: none;
    background: $borderColor;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    &:hover {
      background: $primaryColor;
      color: $white;
    }
  }
  &-h3 {
    font-weight: 400;
    cursor: pointer;
    color: $black;
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    position: relative;
    &:hover {
      color: $primaryColor;
    }
    &::before {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.1rem;
      background: $borderColor;
      bottom: 0;
      left: 40%;
      margin: -0.8rem;
    }
  }
  &-price {
    display: flex;
    align-items: center;
    &--p {
      font-size: 1.8rem;
      cursor: pointer;
      font-weight: 700;
      color: $primaryColor;
    }
  }
}
.discounted {
  text-decoration: line-through;
  color: $textColor !important;
  font-size: 1.4rem !important;
  margin-left: 0.1rem;
}
// Products Item
// Products Item
// Products Item
.product {
  box-sizing: border-box;
  margin: 3rem 0;
  // background: #f3f6f5;
  &__heading {
    text-align: center;

    &-h1 {
      font-family: "Berkshire Swash", cursive;
      font-size: 3.6rem;
      font-weight: 700;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 10rem;
        height: 0.2rem;
        background: #62d2a2;
        bottom: 0;
        right: 47%;
        margin: -0.8rem;
      }
    }
  }
  &__item {
    margin-top: 5rem;
    &-list {
      color: $textColor;
    }
  }
  &__list {
    display: flex;
    cursor: pointer;
    &-list {
      &--tab {
        display: flex;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 0.1rem solid $borderColor;
      &:hover {
        border: 0.1rem solid $primaryColor;
        opacity: 0.8;
      }
      &:hover > .quickview__eye {
        display: block;
      }
      &:hover > .product__list-item--icon-1 {
        display: block;
      }
      &--rating {
        color: #e98b50;
      }
      &--h3 {
        font-weight: 400;
        cursor: pointer;
        color: $black;
        font-size: 2rem;
        margin: 1.5rem 0 1rem;
        position: relative;
        &:hover {
          color: $primaryColor;
        }
        &::before {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.1rem;
          background: $borderColor;
          bottom: 0;
          left: 40%;
          margin: -0.8rem;
        }
      }
      &--price {
        display: flex;
        align-items: center;
        &--p {
          font-size: 1.8rem;
          cursor: pointer;
          font-weight: 400;
          color: $primaryColor;
          margin: 0;
          margin-right: 1rem;
        }
      }
      &--icon {
        display: flex;
        &-1 {
          z-index: 100;
          border: 0.1rem solid $primaryColor;
          padding: 1rem 1.4rem;
          border-radius: 50%;
          transform: translate(54%, 50%);
          background: $white;
          color: $primaryColor;
          transition: linear 0.8s;
          &:hover {
            background: $primaryColor;
            color: $white;
          }
          &--1 {
            font-size: 1.6rem;
            color: inherit;
          }
        }
        &-2 {
          visibility: hidden;
          display: block;
          border: 0.1rem solid $primaryColor;
          padding: 1rem 1.4rem;
          border-radius: 50%;
          transform: translate(-45%, 50%);
          background: $white;
          color: $primaryColor;
          transition: linear 0.8s;
          &:hover {
            background: $primaryColor;
            color: $white;
          }
          &--1 {
            font-size: 1.6rem;
            color: inherit;
          }
        }
      }
    }
  }
  &__button {
    text-align: center;
    margin: 3rem 1rem;

    &-btn {
      font-size: 2rem;
      background: $primaryColor;
      color: $white;
      padding-bottom: 3.8rem;

      &:hover {
        color: $primaryColor;
        border: 0.1rem solid $primaryColor;
      }
    }
  }
}

.product__list-item:hover .product__list-item--icon-2 {
  transform: translate(-170%, 50%);
  visibility: visible;
}
.product__list-item:hover .product__list-item--icon-1 {
  transform: translate(170%, 50%);
}
.product__list-item--icon {
  display: flex;
}

////////Home-Banner-Statistics/////
.statistic {
  margin-top: 2rem;
  &__group {
    margin-top: 2rem;
    &--boder {
      overflow: hidden;
      cursor: pointer;
      &--img {
        width: 100%;
        transform: scale(1);
        transition: 0.5s linear;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

//--------brandarea-----
.brandarea {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.1rem solid $borderColor;
  border-bottom: 0.1rem solid $borderColor;
  &__content {
    margin: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
  }
}
