@import "../../style/variable.scss";
.admin {
  height: 100vh;
  overflow: hidden;
  &-header {
    display: flex;
    align-items: center;
    padding: 4rem;
    box-shadow: 0 10px 10px $borderColor;
    background-color: $backgroundColor;
    .col-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      .icon {
        position: relative;
        font-size: 2.4rem;
        cursor: pointer;
        &:hover {
          color: $primaryColor;
        }
        &::after {
          content: "";
          height: 10px;
          width: 10px;
          position: absolute;
          background-color: #e7441f;
          border-radius: 50%;
        }
      }
    }
    
    .col-img {
      display: flex;
      justify-content: center;
    }
    .col-src {
      padding: 0 40px;
    }
  }
  &__content{
    width: 98%;
    margin: 1rem;
    box-shadow: 10px 10px 10px $borderColor;
    background-color: $backgroundColor;
    border-radius: 1rem;
    padding: 2rem;
    overflow-x: auto;
  }
  &-body {
    height: 100%;
  }
  &-select {
    background-color: $primaryColor;
    height: 100%;
    list-style: none;
    padding: 2rem;
    box-shadow: 10px 0 10px $borderColor;
    li {
      border-bottom: 0.1rem solid $borderColor;
      color: $white;
      font-size: 1.6rem;
      padding: 1rem;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        background: #51cf98;
        padding-left: 2rem;
      }
      .icon {
        min-width: 3rem;
        text-align: left;
      }
    }
  }
  &__users {
    

    table {
      min-width: 600px;
      width: 100%;
      th {
          border: 1px solid $primaryColor;
          padding: 1rem;
      }
      td {
        border: 1px solid $primaryColor;
        padding: 1rem; 
       
      }
      tr {
          text-align: center;
          .icon{
            cursor: pointer;
            &:hover {
                color: $primaryColor;
            }   
         }
      }
    }
  }
}
.sub-dropdown {
  width: 150px;
  margin-top: 1rem;
  .cover {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 2rem;
    }
    .icon {
      position: relative;
      font-size: 1.6rem;
      margin-left: 0.5rem;
      cursor: pointer;
      &:hover {
        color: $primaryColor;
      }
      &::after {
        content: "";
        height: 5px;
        width: 5px;
        position: absolute;
        background-color: #e7441f;
        border-radius: 50%;
      }
    }
  }
}
